:root {
  --bg: #282828;
  --bg1: #3c3836;
  --fg: #ebdbb2;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869d;
  --red: #fb4934;

}
@font-face {
  font-family: F25 Bank Printer;
  src: url(fonts/F25_Bank_Printer.ttf);
}

html {
  height: 100%; 
  background: linear-gradient(var(--yellow), var(--purple));
  background-size:contain;
  background-attachment: fixed;
}

body {
  
  background-repeat: no-repeat;
  background-size: auto;
  font-family: F25 Bank Printer;
  text-align: center;
  margin-top: 2%;
}

header, main {
  padding: 12px;
  display: block;
  position: relative;
  width: 60%;
  height: 92%;

  margin-right: auto;
  margin-left: auto;

  margin-top: 2%;
  margin-bottom: 2%;

  background-color: var(--bg);
  color: var(--fg);
}

h1 {
  padding-top: 1%;
}

ul {
  padding: 10px;
  list-style: none;
  margin: auto;
  width: max-content;
  max-width: 80%;
}

li {
  display: inline-block;
  background-color: var(--bg1);
  width: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--blue);
  padding: 10px;
  margin: 0px;
}

bold {
  color: var(--red);
}